<!DOCTYPE html>
<head>
  <title>s4pres URL shortener</title>
</head>
<body>
	<form action="/">
			<p> <h2>Insert URL </h2>
			<input type="text" name="url" id="url" />
			</p>
	</form> 
</body>
</html>
