<!DOCTYPE html>
<head>
  <meta name="keyword" content="s4pres URL shortener short link generator">
  <meta name="robot" content="index, follow">
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Hammersmith+One&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href="http://d2v52k3cl9vedd.cloudfront.net/basscss/6.0.2/basscss.min.css" rel="stylesheet">
  <title>s.4pr.es URL shortener</title>
</head>
<body>
<form action="/" method="POST">
  <div class="flex flex-baseline blue border-bottom border-blue">
   <div class="flex-auto px2">
		<h2>{{ post | Banner }}</h2>
   </div>
  </div>
     {{ if post | Content }}
  	<div class="">
		<input type="text" class="fit" name="url" id="url" />
		<input type="submit" class="button center" value="Go!" />
	</div>
</form> 
</body>
</html>
